*{
    margin:0;
    padding:0;
   box-sizing: border-box;
}
.clrfix{
    clear: both;
}
.container{
    width: 80%;
    margin: auto;
}
.navbar{
    background-color: grey;
}

.lego{
    float:left;
    margin-top: 5px;
 
}
.lego img{
    width:50%;
}
.navbar .list {
    
    float:right;
    margin-top:5px ;
    

}
.list ul{
 list-style-type: none;

}
.list ul li{
    float :left;
}
.list ul a {
    text-decoration-line:none ;
    color: white;
    margin: 15px;
    text-transform: uppercase;
}

.potfolio{
   
    text-align: center;
}
.container h2{
    text-transform: uppercase;
}
.container p{
    font-style: italic;
}
.potfolio-item{
    float: left;
    width: 33.3%;
    padding-right:30px ;
}
.potfolio-item img{
    display: block;
    width: 100%;
}